body{
    background-image: url("back.jpg");
    background-size: cover;
    text-align: center;
    
}
.heading{
   font-size:  30px;
   width: 60%;
   font-weight: bold;
   
}

p{
    color: white;
    font-size: 20px;
    
}

img{
    width: 400px;
    height: 300px;
}
